@charset "ISO-8859-1";
header {
	background-color: #355282;
	color: #fff;
	padding: 25px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

nav li {
	margin-right: 40px;
}
nav lii {
	margin-left: 900px;
}
nav liii {
	margin-left: 100px;
}

nav a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

img {
  margin: 0px 410px;
  width: 700px;
  height: 400px;
}

main {
	padding: 20px;
}
h2 {
  text-align: center;
  padding: 12px;
  font-size: 50px;
  text-transform: uppercase;
  color: #400000;
}
h1 {
  text-align: center;
  font-size: 30px;
  color: #355282;
}
footer {
	background-color: #355282;
	color: #fff;
	padding: 20px;
	text-align: center;
}
